@charset "UTF-8";

/* modern-css-reset-master */

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* modern-css-reset-master */

:root {
  font-size: 14px;
}

body {
  color: #222;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

main {
  margin-top: 7rem;
}

#container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}

#container--small {
  margin: 0 auto;
  max-width: 600px;
}

#footer {
  display: flex;
  flex-direction: column;
  min-height: 39vh;
}

#footer__inner {
  background: #005a00;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  display: flex;
  height: 5rem;
  justify-content: center;
  margin-top: auto;
}

.button {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #696969;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  border-color: #333;
  color: #C0C0C0;
}

.button .icon {
  margin-right: 0.5em;
}

.button--link {
  border: 0;
}

.button--inverse {
  background: #222;
  border-color: #222;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.button--inverse:hover {
  background: #222;
  color: #fff;
  opacity: 0.8;
}

.button--fluid {
  width: 100%;
}

.button__LoginRegister--color {
  /* TODO -- と __ -- の統一 */
  color: #fff;
}

.button__report {
  color: #222;
}

.button--praise .icon {
  color: #222;
}

.button--praised {
  background: #e4406f;
  border-color: #e4406f;
  color: #fff;
}

.button--praised .icon {
  color: #fff;
}

.button--praised:hover {
  border-color: #e4406f;
  color: #fff;
  opacity: 0.8;
}

.ion-md-thumbs-up {
  margin-right: 0.5em;
  /* 一覧のグッジョブボタンの右にマージン */
}

.ion-md-download {
  color: #e4406f;
  margin-right: 0.5em;
  /* 一覧のダウンロードボタンの右にマージン */
}

.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);
}

.grid__item {
  margin-bottom: 2rem;
}

.form__item {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5em 0.75em;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
}

.form__output {
  display: block;
  margin-bottom: 1rem;
}

.form__button {
  text-align: right;
}

.photo-form {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-height: 75vh;
  max-width: 600px;
  overflow: scroll;
  padding: 1.5rem;
  position: absolute;
  right: 2%;
  top: 3.5rem;
  width: 90%;
}

.tab {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab__item {
  border-bottom: 2px solid #dedede;
  color: #8a8a8a;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

.tab__item--active {
  border-bottom: 2px solid #222;
  color: #222;
  font-weight: bold;
}

.navbar {
  align-items: center;
  background: rgba(0, 128, 0, 0.9);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  color: #fff;
}

.navbar__brand {
  display: flex;
  align-items: flex-end;
  color: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}

.navbar__brand:visited {
  color: inherit;
}

.navbar__brand:hover {
  opacity: 0.6;
}

.navbar__description {
  margin-left: 0.5em;
}

.navbar__menu {
  align-items: center;
  display: flex;
}

.navbar__item {
  margin-left: 1rem;
}

.panel {
  border: 1px solid #dedede;
  margin-top: 1rem;
  padding: 1.5rem;
}

.panel-login {
  /* TODO __--などの適用 */
  margin-bottom: 6rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  color: #222;
}

.pagination {
  text-align: right;
}

.photo {
  position: relative;
}

.photo:hover .photo__overlay {
  visibility: visible;
}

.photo:nth-child(4n+1) .photo__wrapper {
  background: #DBBCD5;
}

.photo:nth-child(4n+2) .photo__wrapper {
  background: #DBDBBC;
}

.photo:nth-child(4n+3) .photo__wrapper {
  background: #BCDBC8;
}

.photo:nth-child(4n) .photo__wrapper {
  background: #BCC8DB;
}

.photo__wrapper {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
}

.photo__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo__overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  cursor: zoom-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  visibility: hidden;
}

.photo__controls {
  text-align: right;
}

.photo__action {
  background: #fff;
  border: 0;
  border-radius: 0.25rem;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  margin-left: 0.25rem;
  opacity: 0.8;
  outline: none;
  padding: 0.5em 0.75em;
  text-decoration: none;
  /* 一覧のダウンロードボタンのため */
}

.photo__action:hover {
  opacity: 1;
}

.photo__action--praise .icon {
  color: #e4406f;
  margin-right: 0.5em;
}

.photo__action--praised {
  background: #e4406f;
  color: #fff;
}

.photo__action--praised .icon {
  color: #fff;
}

.photo-detail {
  display: flex;
  justify-content: space-between;
}

.photo-detail--column {
  flex-direction: column;
}

.photo-detail--column .photo-detail__panel {
  width: 100%;
}

.photo-detail--column .photo-detail__image {
  cursor: zoom-out;
}

.photo-detail__panel {
  width: 49%;
  background-color: #f5f5f5;
  border-radius: 0.5em;
}

.photo-detail__image {
  cursor: zoom-in;
  margin-bottom: 1.5rem;
}

.photo-detail__image figcaption {
  margin-top: 0.5rem;
}

.photo-detail__title {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.photo-detail__title .icon {
  margin-right: 0.5em;
}

.photo-detail__comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-detail__commentItem {
  border-bottom: 1px solid #dedede;
  margin-bottom: 1.5rem;
  padding: 0 0 1.5rem 0;
}

.photo-detail__commentBody {
  margin: 0 0 1rem 0;
  white-space: pre-line;
  /* コメントの改行を反映 */
}

.photo-detail__commentInfo {
  color: #8a8a8a;
  margin: 0;
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader__item--circle {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  /* width: 11em;
  height: 11em; */
  border-radius: 50%;
  background: #008000;
  background: linear-gradient(to right, #008000 10%, rgba(0, 128, 0, 0) 42%);
  /* position: relative; */
  -webkit-animation: load 1.4s infinite linear;
  animation: load 1.4s infinite linear;
  transform: translateZ(0);
}

.loader__item--circle:before {
  width: 50%;
  height: 50%;
  background: #008000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader__item--circle:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader__item--circle div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.loader__item--circle div:after,
.loader__item--circle div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
}

@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading__text {
  color: #222;
}

.message {
  background: #D7F9EE;
  border: 1px solid #41e2b2;
  border-radius: 0.25rem;
  color: #117355;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.errors {
  border: 1px solid #c7004c;
  border-radius: 0.25rem;
  color: #c7004c;
  margin-bottom: 1rem;
}

